{
  "ignore": [
    "dist/*.js"
  ],
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "ie": 11
      },
      "loose": true,
      "useBuiltIns": "entry"
    }]
  ]
}
